.main {
  padding: 0;

  // NAVBAR
  .navbar {
    padding: 15px 0;

    .icon {
      width: 110px;
    }

    .imgRight {
      .bell {
        margin-right: 35px;
      }

      .mail {
        margin-right: 35px;
      }
      
      .profile {
        width: 40px;
      }
    }
  }

  .titleBar{
    background-color: #5E50A1;
    padding: 15px 0;

    .subtitle {
      h4 {
        color: white;
      }
    }
  }

  // MAIN PAGE
  .mainPage {
    background-color: rgb(243, 243, 243);
    padding: 40px 0;

    .search {
      background-color: white;
      padding: 5px 5px 5px 0;

      .formSearch {
        input {
          color: #9EA0A5;
          font-size: 14px;
          padding: 13px 20px;
        }
        
        input:focus {
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        }
      }

      .btnSort {
        select {
          padding: 13px 20px;
          padding-left: 3px;
          color: #9EA0A5;
          font-size: 14px;
        }

        select:focus {
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        }

        button {
          width: 100px;
          background-color: #5E50A1;
          border-color: #5E50A1;
        }
      }
    }
  }
}