.main {
  padding: 0;

  // NAVBAR
  .containerNavbar {
    background-color: white;
  }

  .titleBar{
    background-color: #5E50A1;
    padding: 15px 0;

    .subtitle {
      h4 {
        color: white;
      }
    }
  }

  // MAIN PAGE
  .mainPage {
    background-color: rgb(243, 243, 243);
    padding: 40px 0;

    .search {
      background-color: white;
      padding: 5px 5px 5px 0;
      margin-bottom: 30px;

      .formSearch {
        input {
          color: #9EA0A5;
          font-size: 14px;
          padding: 13px 20px;
        }
        
        input:focus {
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        }
      }

      .btnSort {
        select {
          padding: 13px 20px;
          padding-left: 3px;
          color: #9EA0A5;
          font-size: 14px;
        }

        select:focus {
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        }

        button {
          width: 100px;
          background-color: #5E50A1;
          border-color: #5E50A1;
        }
      }
    }

    .list {
      background-color: white;
      padding: 20px;

      .worker {
        img {
          width: 100px;
        }

        .data {
          border-left: 1px solid rgb(190, 190, 190);
          padding-left: 20px;

          p {
            font-size: 13px;
            color: #9EA0A5;
          }

          .badge {
            padding: 5px 15px;
            margin-top: -5px;
            color: white;
            font-size: 12px;
            border-color: #FBB017;
          }
        }

        .btn {
          background-color: #5E50A1;
          border-color: #5E50A1;
          font-size: 13px;
          padding: 10px 17px;
          margin-left: 55px;
          border-radius: 3px;
        }
      }
    }
  }

  .footer {
    background-color: #5E50A1;
    padding: 40px;

    .container {
      padding: 0;

      .foot {
        border-bottom: 2px solid white;
        padding: 0 0 35px 0;
      }
    }

    img {
      width: 120px;
      margin-bottom: 25px;
    }

    p {
      width: 300px;
      line-height: 30px;
      color: white;
    }

    .copyright {
      p {
        color: white;
      }
    }
  }
}